<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="px-4 sm:px-6 lg:px-8 w-full">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Personagens</h1>
        <p class="mt-2 text-sm text-gray-700"><%= "#{current_backoffice_user_admin.email}, aqui você pode incluir todos os seus personagens."%></p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none flex justify-center gap-4">
        <%= link_to "Criar Raça", new_backoffice_race_path, class:"block rounded-md bg-yellow-400 px-3 py-2 text-center text-sm font-semibold text-red-500 shadow-sm hover:bg-yellow-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-300"%>
        <%= link_to "Exportar Personagens", "#", class:"block rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-yellow-200 shadow-sm hover:bg-red-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-300"%>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Nome</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Editar</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
            <% @races.each do |race| %>
              <tr>
                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="font-medium text-gray-900"><%= link_to race.name, backoffice_race_path(race.id) %></div>
                      <div class="mt-1 text-gray-500">Criado no dia <%= race.created_at %></div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <% if race.status == "active" %>
                    <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Ativo</span>
                  <% else %>
                    <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20">Desativado</span>
                  <% end %>
                </td>
                <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <%= link_to "Editar", edit_backoffice_race_path(race.id), class:"text-indigo-600 hover:text-indigo-900" %> 
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
