<div id="<%= dom_id avatar %>">
  
  <p class="my-5">
    <div class="font-medium mb-1">Name:</div>
    <%= avatar.name %>
  </p>

  <p class="my-5">
    <div class="font-medium mb-1">Ki:</div>
    <%= avatar.ki %>
  </p>

  <p class="my-5">
    <div class="font-medium mb-1">Description:</div>
    <%= formatter_break_line(avatar.description) %>
  </p>

  <p class="my-5">
    <div class="font-medium mb-1">Gender:</div>
    <%= avatar.gender %>
  </p>

  <p class="my-5">
    <div class="font-medium mb-1">Weight:</div>
    <%= avatar.formatter_kg %>
  </p>

  <p class="my-5">
    <div class="font-medium mb-1">Date of birth:</div>
    <%= avatar.date_of_birth %>
  </p>

  <p class="my-5">
    <div class="font-medium mb-1">Status:</div>
    <%= avatar.status %>
  </p>

  <p class="my-5">
    <div class="font-medium mb-1">User admin:</div>
    <%= avatar.user_admin_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this avatar", backoffice_avatar_path(avatar), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this avatar", edit_backoffice_avatar_path(avatar), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
